@import "vertical-rhythms/vertical-rhythms";

main {
  max-width: 60em;
}

$base-font-size: 16px;
$base-line-height: 26px;

$h1-font-size: 1.3 * $base-font-size;
$h2-font-size: 1.2 * $base-font-size;
$h3-font-size: 1.1 * $base-font-size;

html {
  font-size: 100% * ($base-font-size / 16px); /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
  /* Establishes a vertical rhythm unit using $base-line-height. */
  @include adjust-leading-to(1);
}

main {
    background-image: url(https://basehold.it/i/26); /* 24px baseline */
}

h1 {
  @include adjust-font-size-to($h1-font-size);
  @include leader(1, $h1-font-size);
  @include trailer(1, $h1-font-size);
}

h2 {
  @include adjust-font-size-to($h2-font-size);
  @include leader(1, $h2-font-size);
  @include trailer(1, $h2-font-size);
}

h3 {
  @include adjust-font-size-to($h3-font-size);
  @include leader(1, $h3-font-size);
  @include trailer(1, $h3-font-size);
}

p {
  margin: rhythm(1) 0;
  &.successive-paragraph {
    text-indent: 2em;
  }
}

